
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url("default.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 1000px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.weather-app{
  width: 100%;
  height: 100vh;
  position: relative;
  
}

.container{

}
.weather-app .search-bar {
  text-align: center;
  padding: 1rem;
}

.weather-app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.2);
  color: #f8f8f8;
}
::placeholder{
  color: white;
}
.general-info{

  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0px 0px 0px 0px;
}
.location{
  font-size: 35px;
  width: 100%;
  font-weight: 500;
  color: white;
  margin-top: -20px;
}
.temp{
  font-size: 50px;
  margin-top: -60px;
  font-weight: 500;
  color: white;
  margin-top: -40px;
}
.description{
  margin-top: -50px;
  font-weight: 500;
  color: white;
  margin-top: -40px;
}
.description p{
  font-size: 30px;
}
.info-boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
}
.box{
  box-shadow: 3px 6px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 15px;
  min-width: 8rem;
  margin: 5px;
}

h1{
  color: white;
}
h3{
  color: #4d4d4e;
}

.box p{
  font-size: 30px;
  font-weight: 400;
  color: azure;
}
@media screen and (max-width: 337px){

  .box{
    padding: 7px;
  }
}
@media screen and (min-width: 601px){

  .weather-app{
    position: relative;
  }
  .container{
    max-width:600px; 
    margin:50px auto;
  }

}